@tailwind base;
@tailwind components;
@tailwind utilities;

@use postcss-preset-env {
    stage: 0;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    background-color: white;
    margin: 0;
    padding: 0;
}

/*responsive navbar*/
nav {
    width: 100%;
    background-color: #ffebf2;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    font-size: 1.1rem;
    margin-bottom: 0;
    padding: 0;
    color: black;
    z-index: 100;
    opacity: 1;
    line-height: 0;
    height: 10px;
    cursor: pointer;
}

.navbarItem-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(255, 99, 71, 0.4), rgba(255, 255, 255, 0.9) 69%);
}

.home-container {
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(173, 216, 230));
    height: 600px;
    width: 100%;
}
.box-2 {
    position: absolute;
    width: 481.86px;
    height: 481.86px;
    left: 60%;
    top: 30%;
    background: #FFC97D;
    border-radius: 80px;
    transform: matrix(-0.5, -0.87, -0.87, 0.5, 0, 0);
}
.box-1 {
    position: absolute;
    width: 481.86px;
    height: 481.86px;
    left: 60%;
    top: 30%;

    background: #FFE8C8;
    border-radius: 80px;
    transform: rotate(-105deg);
}
.box-3 {
    position: absolute;
    width: 139.84px;
    height: 139.83px;
    left: 62.71%;
    right: 28.13%;
    top: 15%;
    bottom: 15%;
    /*opacity: 0.1;*/
    transform: matrix(0.84, 0.45, -0.61, 0.87, 0, 0);
}
.spot-1 {
    position: absolute;
    top: 20%;
    left: 40%;

}



